SI4/Langages XML/TDs/TD1/DTD1.dtd

<!ELEMENT bde (student+)>
<!ELEMENT student (infospersonels,formation,emplois,skill,hobby) >
<!ELEMENT infospersonels (nom, prenom, adresse?, mobile?,email)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT adresse (#PCDATA)>
<!ELEMENT mobile (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT formation (#PCDATA)>
<!ELEMENT emplois (#PCDATA)>
<!ELEMENT skill (langues,autres)>
<!ELEMENT langues (#PCDATA)>
<!ELEMENT autres (#PCDATA)>
<!ELEMENT hobby (#PCDATA)>